<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLocal</key>
	<true/>
	<key>appRouteLocal</key>
	<string>http://0.0.0.0:8282/voterzr</string>
	<key>appRouteRemote</key>
	<string>http://0.0.0.0:8282/voterzr</string>
</dict>
</plist>
